@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfdfd;
  --foreground: #0a0a0a;
  --card: #fdfdfd;
  --card-foreground: #0a0a0a;
  --popover: #fdfdfd;
  --popover-foreground: #0a0a0a;
  --primary: #0d9488;
  --primary-foreground: #ccfbf7;
  --secondary: #f4f4f5;
  --secondary-foreground: #3b3c3f;
  --muted: #eeeef0;
  --muted-foreground: #767681;
  --accent: #f4f4f5;
  --accent-foreground: #3b3c3f;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #eeeef0;
  --input: #eeeef0;
  --ring: #0d9488;
  --chart-1: #0d9488;
  --chart-2: #14b8a6;
  --chart-3: #2dd4bf;
  --chart-4: #5eead4;
  --chart-5: #99f6e4;
  --sidebar: #fdfdfd;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #0d9488;
  --sidebar-primary-foreground: #ccfbf7;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #3b3c3f;
  --sidebar-border: #eeeef0;
  --sidebar-ring: #0d9488;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: EB Garamond, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-brand-primary-50: #f0fdfc;
  --color-brand-primary-100: #ccfbf7;
  --color-brand-primary-200: #99f6ee;
  --color-brand-primary-300: #5eeade;
  --color-brand-primary-400: #2dd4c5;
  --color-brand-primary-500: #14b8a9;
  --color-brand-primary-600: #0d9488;
  --color-brand-primary-700: #0f766d;
  --color-brand-primary-800: #115e57;
  --color-brand-primary-900: #134e49;
  --color-brand-primary-950: #042f2b;

  --color-brand-secondary-50: #f4f4f5;
  --color-brand-secondary-100: #eeeef0;
  --color-brand-secondary-200: #dadadd;
  --color-brand-secondary-300: #b9bac0;
  --color-brand-secondary-400: #93949d;
  --color-brand-secondary-500: #767681;
  --color-brand-secondary-600: #606169;
  --color-brand-secondary-700: #4e4e56;
  --color-brand-secondary-800: #434349;
  --color-brand-secondary-900: #3b3c3f;
  --color-brand-secondary-950: #27272a;

  --color-discord-brand-color: #5865f2;
  --color-discord-background: #36393f;
  --color-discord-gray: #36393f;
  --color-discord-text: #dcddde;
  --color-discord-timestamp: #72767d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-brand-secondary-800;
  }
}
