@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f6f6f6;
  --foreground: #262626;
  --card: #f6f6f6;
  --card-foreground: #262626;
  --popover: #f6f6f6;
  --popover-foreground: #262626;
  --primary: #3ba99d;
  --primary-foreground: #f6f6f6;
  --secondary: #12ba98;
  --secondary-foreground: #f6f6f6;
  --muted: #d5f2ec;
  --muted-foreground: #737373;
  --accent: #d5f2ec;
  --accent-foreground: #262626;
  --destructive: #e7000b;
  --destructive-foreground: #f6f6f6;
  --border: #d1d1d1;
  --input: #d1d1d1;
  --ring: #4eb3a6;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #f6f6f6;
  --sidebar-foreground: #262626;
  --sidebar-primary: #262626;
  --sidebar-primary-foreground: #f6f6f6;
  --sidebar-accent: #f6f6f6;
  --sidebar-accent-foreground: #262626;
  --sidebar-border: #d1d1d1;
  --sidebar-ring: #4eb3a6;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --color-brand-primary-50: #f3faf9;
  --color-brand-primary-100: #d5f2ec;
  --color-brand-primary-200: #ace3d9;
  --color-brand-primary-300: #7acec1;
  --color-brand-primary-400: #4eb3a6;
  --color-brand-primary-500: #3ba99d;
  --color-brand-primary-600: #287972;
  --color-brand-primary-700: #24615d;
  --color-brand-primary-800: #204f4c;
  --color-brand-primary-900: #1f4240;
  --color-brand-primary-950: #0d2626;

  --color-brand-secondary-50: #f0fdf9;
  --color-brand-secondary-100: #cbfced;
  --color-brand-secondary-200: #98f7dc;
  --color-brand-secondary-300: #5cecc8;
  --color-brand-secondary-400: #2bd6b0;
  --color-brand-secondary-500: #12ba98;
  --color-brand-secondary-600: #0b9078;
  --color-brand-secondary-700: #0e7765;
  --color-brand-secondary-800: #105f53;
  --color-brand-secondary-900: #124f45;
  --color-brand-secondary-950: #03302a;

  --color-brand-gray-50: #f6f6f6;
  --color-brand-gray-100: #e7e7e7;
  --color-brand-gray-200: #d1d1d1;
  --color-brand-gray-300: #b0b0b0;
  --color-brand-gray-400: #888888;
  --color-brand-gray-500: #737373;
  --color-brand-gray-600: #5d5d5d;
  --color-brand-gray-700: #4f4f4f;
  --color-brand-gray-800: #454545;
  --color-brand-gray-900: #3d3d3d;
  --color-brand-gray-950: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
